GameX/.vs/
GameX/GameX.Biohazard.5/.vs/
GameX/GameX.Biohazard.5/bin/
GameX/GameX.Biohazard.5/obj/
GameX/GameX.Biohazard.Village/.vs/
GameX/GameX.Biohazard.Village/bin/
GameX/GameX.Biohazard.Village/obj/
GameX/GameX.Launcher.x64/.vs/
GameX/GameX.Launcher.x64/bin/
GameX/GameX.Launcher.x64/obj/
GameX/GameX.Launcher.x86/.vs/
GameX/GameX.Launcher.x86/bin/
GameX/GameX.Launcher.x86/obj/